html, body {
    height: 100%;
    width: 100%;
  }
  h1{
    text-align: center;
    color: #6e85b7;
  }
  .container{
    width:50%;
    margin:auto;
  }
  
  button{
    border-color: #6e85b7;
  }

  input,label{
    display:"block";
  }
  
  input{
    margin-bottom: 0.5rem;
    width: 100%;
  }
  
  #check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  footer{
    bottom: 0;
    text-align: center;
  }
  